$primary: #a259ff;
@import "./style/Cube.scss";
@import './style/lab.scss';


.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 100px;
  .navBtn {
    margin: 0 2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0.5rem;
    color: #fff;
    padding: 5px 1rem;
    background-color: $primary;
    cursor: pointer;
    &:hover {
      transition: all 0.2s ease-in-out;
      opacity: 0.7;
    }
  }
}
